.edit-list-input {
  border-radius: 0.8rem;
  padding: 0.8rem;
  background-color: transparent;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
.edit-list-input:focus {
  outline: none;
}

.edit-list-buttons {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}
.edit-list-buttons button {
  width: 9.6rem;
}
